.dice{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}
.player1 {
    position: absolute;
    left: 50px;
    top: 50px;
} 
.player2 {
    position: absolute;
    left: 200px;
    top: 50px;
}